@font-face {
    font-family: 'ralewaywf';
    src: url('../webfonts/raleway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'ralewaywf';
    src: url('../webfonts/raleway-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
	}
@font-face {
    font-family: 'ralewaywf';
    src: url('../webfonts/raleway-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
	}


body {
	margin: 0;
	padding: 0;
    font-family: Raleway, ralewaywf, adobe-clean, 'Helvetica Neue', calibri, corbel, "Segoe UI", helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.75;
	background-color: white;
	color: #333;
	text-align: justify;
	font-weight: normal;
	}

strong {
    font-family: 'Helvetica Neue',  ralewaywf, "Segoe UI", sans-serif;
    font-weight: 400;
	color: #444;
	}


/* set margins */
p, h2, h3, h4, dl, div#footer, div.example, figure, details#scriptLinks { margin-left: 7.5%; margin-right: 32%; }
ul, ol { margin-left: 9%; margin-right: 34%; }
ul ul { margin-left: 2%; margin-right: 5%; }
table { margin-left: 7.5%;  }
table.inband { margin-right: 32%; }
blockquote { margin-left: 11%; margin-right: 34%; }

li p { margin-left: 0; margin-right: 0; }
blockquote p { margin-left: 0; margin-right: 0; }
#footer p { margin-left: 0; margin-right: 0; }
.example p { margin-left: 0; margin-right: 0; }
.sidenote p { margin-left: 0; margin-right: 0; }
.example blockquote { margin-left: 1em; margin-right: 1em; }
dd p { margin-left: 0; margin-right: 0; }



#top {
	position: fixed;
	left: 1em;
	bottom: 1em;
	}
	
/* structural code */


h1 {
	text-align: left;
	font-size: 300%;
	font-weight: 300;
	color: #005a9c;
	padding: 5px;
	padding-left: 10px;
	margin: 1em 30% 1em 6.5%;
	line-height: 1.3;
	}
h1.compact {
	margin-bottom: 0.5em;
	}
h1 a:link { 
	text-decoration: none;
	color: #005a9c;
	}
h1 a:visited { 
	color: #005a9c;
	text-decoration: none;
	}

h2 {
	color: #005a9c;
	text-align: left;
	font-size: 123%;
	font-weight: 300;
	margin-top: 3em;
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
	text-transform: lowercase;
	font-size: 270%;
	line-height: 1;
	}
h2 a:link { 
	text-decoration: none;
	color: #005a9c;
	}
h2 a:visited { 
	color: #005a9c;
	text-decoration: none;
	}
h2 a:hover { 
	color: #005a9c;
	text-decoration: none; 
	}
body.app h2 {
	color: #a52a2a;
	}
h3 {
	text-align: left;
	font-size: 120%;
	font-weight: normal;
	margin-top: 4em;
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
	text-transform: lowercase;
	color: chocolate;
	}

h3 a:link { 
	color: gray; 
	text-decoration: none; 
	background-color: transparent;
	}
h3 a:visited { 
	color: gray; 
	text-decoration: none; 
	}

h2 + section > h3 {
	margin-top: 2em;
	}

.sidebar h2.flush {
	margin-top: -10px;
	}

.leadin { 
	font-weight: bold; 
	font-size: 100%;
	}
.leadin:link { 
	color: #c60; 
	text-decoration: none; 
	}
.leadin:visited { 
	color: #c60; 
	text-decoration: none; 
	}



#topbar {
	text-align: left;
	font-size: 150%;
	color: #005a9c;
	background-color: #f5f5f5;
	padding: 5px;
	padding-left: 10px;
	margin: 0;
	margin-right: 29%;
	line-height: 1.1;
	}
#topbar a:link { 
	color: #005a9c; 
	text-decoration: none; 
	}
#topbar a:visited { 
	color: #005a9c; 
	text-decoration: none; 
	}
body.app #topbar {
	color: #a52a2a;
	}
body.app #topbar a:link { 
	color: #a52a2a; 
	}
body.app #topbar a:visited { 
	color: #a52a2a; 
	}
.versionnumber {
	font-size: 50%;
	margin-left: 10px;
	}

#line {
	position: absolute;
	left: 71%;
	top: 0;
	width: 10px;
	border-left: 2px dotted #005a9c;
	height: 30em;
	}
#line.midlength {
	height: 20em;
	}
#line.compact {
	height: 14em;
	}
#line.app {
	height: 4.5em;
	}
body.app #line {
	display: none;
	}

#bp_picture {
	margin-top: 5em;
	margin-bottom: 0em;
	margin-left: 20px;
	display: block;
	}
#bp_picture.compact {
	margin-top: 1em;
	margin-bottom: 0;
	}
#bp_picture.app {
	margin-top: 0.3em;
	margin-bottom: 0;
	}
#level2-picture {
	margin-bottom: 30px;
	}
/* phase the following out */
#picture {
	margin-top: 5em;
	margin-bottom: 0em;
	margin-left: 20px;
	display: block;
	}
#picture.compact {
	margin-top: 1em;
	margin-bottom: 0;
	}
	
	

.sidebar {
	float: right;
	width: 27%;
	clear: right;
	text-align: left;
	text-align: start;
	}
#sidebar li {
	list-style-type: none;
	}
.sidebar h2 {
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0px;
	}
.sidebar p {
	margin-left: 1em;
	margin-right: 1em; 
	line-height: 1.2em;
	}


#toc{ 
	margin-bottom: 1em; 
	}
.toc1 { 
	margin-left: 1em; 
	margin-right: 1em; 
	margin-bottom: 4px; 
	margin-top: 8px;
	line-height: 1.2;
	}
.toc2 { 
	margin-left: 1em; 
	margin-right: 1em; 
	font-size: 80%; 
	margin-bottom: 2px; 
	}



.sidenoteGroup {
	position: relative;
	width: 100%;
	}
.sidenote {
	position: absolute;
	top: 0;
	right: 2em;
	width: 24%;
	font-size: 80%;
	line-height: 1.2em;
	text-align: left;
	}


#status {
	line-height: 150%;
	background-color: transparent;
	color: #999;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-size: 11.5px;
	}
#navigation {
	line-height: 150%;
	background-color: transparent;
	color: #999;
	font-weight: 300;
	margin-top: 0em;
	margin-bottom: 1em;
	}
#navigation p {
	margin-top: 0;
	margin-bottom: .25em;
	text-align: left;
	font-size: 11.5px;
	}


#site-navigation {
	float: right; 
	background-color: #fff;
	color: black;
	width: 28%;
	clear: right;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	}
body.app #site-navigation {
	padding-top: 0;
	padding-bottom: 0;
	}
#site-navigation a:link {
	color: black;
	}
#site-navigation a:hover {
	color: #005a9c;
	background-color: #003163; 
	}
#site-navigation a:visited {
	color: white;
	text-decoration: none;
	}
#site-navigation p {
	margin-left: 32px;
	margin-right: 1em; 
	margin-top: 0;
	margin-bottom: 0;
	}


#sitelinks {
	/* text-align: right;
	margin-left: 5.5%; */
	padding-left: 10px;
	margin-bottom: 5em;
	line-height: 24px;
	}
body.app #sitelinks {
	margin-bottom: 3em;
	}
#sitelinks a {
	color: gray;
	}


div.up { 
	float: right; 
	margin-right: 32%; 
	margin-top: -5px; 
	}

#showNotes {
	cursor: pointer;
	}

address {
	font-style: normal;
	}
#author {
	font-size: 14px;
	margin-top: 5em;
	}
#author p {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
.smallprint {
	font-size: 12px;
	line-height: 1.4;
	color: #999;
	margin: 0;
	margin-top: 7em;
	/* background-color: #f5f5f5;
	padding: 8px 10px 8px 10px; */
	text-align: right;
	clear: both;
	}
.smallprint p { 
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	}
span#version {
	padding: 8px 20px;
	background-color: #f5f5f5;
	}
#logos {
	float: right;
	margin-left: 1em;
	margin-top: .25em;
	}




/* inline */

a:link {
	color: teal;
	text-decoration: none;
	}
a:visited {
	color: teal;
	text-decoration: none;
	}
a:hover {
	color:  #005a9c;
	background: white;
	}

acronym {
	text-transform: capitalize;
	}
.kw {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A52a2a;
	font-size: 80%;
	}
samp {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A52a2a;
	font-size: 80%;
	}
.button {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A52a2a;
	font-size: 80%;
	border: 1px solid brown;
	border-radius: 5px;
	padding: 2px;
	white-space: pre;
	}
.newterm {
	font-weight: bold;
	}
.qchar {
	font-size: 110%;
	color: black;
	}
.uname {
	font-size: 85%;
	letter-spacing:0.05em;
	}
.qchar:before {
	content: '\27';
	font-style: normal;
	font-size: 100%;
	}
.qchar:after {
	content: '\27';
	font-style: normal;
	font-size: 100%;
	}
.uppercase {
	text-transform: uppercase;
	}
.uri {
	display: none;
	}
img {
	border: 0;
	}

[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}



/* block elements */



blockquote {
	text-align: left;
	}
pre {
	line-height: 1.3;
	}


dt {
	font-weight: bold;
	margin-top: 1em;
	}

figure { 
	margin-left: 10%; 
	margin-right: 30%; 
	text-align: center; 
	margin-bottom: 5px;
	margin: 4em 30% 3em 10%;
	}
figure table { 
	margin: auto; 
	}
figure p { 
	text-align: start; 
	margin-right: 10%;  
	/* margin-bottom: 5px; */
	line-height: 1.4em; 
	}
figcaption { 
	font-style: italic; 
	text-align: center; 
	font-size: 90%;
	margin-top: 1em;
	padding: 0 10%;
	line-height: 1.4;
	}
.figref {
	color: inherit;
	}

table, td, th {
	font-size: 1em;
	text-align: left;
	text-align: start;
	}
table.inband {
	margin-top: 1em;
	margin-bottom: 1em;
	}
td { 
	border: 1px solid #ccc; 
	vertical-align: top; 
	text-align: center; 
	border-collapse: collapse; 
	font-family: Raleway, 'Helvetica Neue', Verdana, helvetica, "Segoe UI", sans-serif; 
	}
th { 
	font-size: 80%; 
	text-align: right;
	padding: 4px;
	}
table.inband td {
	text-align: left;
	vertical-align: top;
	border: 1px solid #000066;
	padding: 0.2em;
	}
table.inband th {
	text-align: left;
	vertical-align: top;
	border: 1px solid #000066;
	font-weight: bold;
	padding: 0.2em;
	background-color: #f9f5de; 
	}
#refs + ol {
    text-align: start;
    }
#refs ol { /* this one for toc2020 */
    text-align: start;
    }




/* other */

.hide {
	display: none;
	}

.new {
	color:red; 
	background:yellow; 
	box-shadow: 3px 3px 5px #888; 
	padding: 1px 10px 1px 15px; 
	border-radius: 10px; 
	margin-left: 10px;
	}


.hidden { display:none; }
/*
.collapsingList li { 
	position:relative;
	border-bottom: 1px solid white;
	}
.collapsingList p {
	margin:0;
	margin-bottom: 5px;
	}
.collapsingList .hidden { 
	position: absolute;
	top: 0px;
	left: 50%;
	width: 50%;
	font-size: 80%;
	line-height: 1.2em;
	text-align: left;
	z-index:1000;

	background-color:#ffe; 
	border: 1px solid #CCC; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	}
.collapsingList li:hover .hidden { display:block; }
*/

@media handheld {
.collapsingList li:after { content: 'info'; color: #CCC; }
	}


@media (max-width: 700px) { 

/* set margins */
p, h2, h3, h4, dl, div#footer, div.example, figure { margin-left: 1em; margin-right: 1em; }
ul, ol { margin-left: 2em; margin-right: 2em; }
ul ul { margin-left: 2%; margin-right: 5%; }
table { margin-left: 1em;  }
table.inband { margin-right: 1em; }
blockquote { margin-left: 2em; margin-right: 2em; }


.character { margin-left:0; margin-right:0; }

#index { margin-left:1em; margin-right:1em; }

.sidebar {
	float: none;
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 90%;
	margin-bottom: 3em;
	}
#site-navigation, #line {
	display: none;
	}
#topbar {
	margin-right:0;
	}

}



#blogposts ul { margin: 10px 10px 10px 0; }
#blogposts li { margin: 0; padding: 0; margin-bottom: 8px;  }




#linkstable {
    font-size: 80%;
    margin: 0 3em;
    }
#linkstable table {
    margin: 0;
    }
#linkstable td {
    text-align: start;
    padding: 0 1em 0 0;
    border: 0;
    line-height: 1.7;
    }
#linkstable th {
    vertical-align: top;
    text-align: start;
    padding: 0 1em 0 0;
    line-height: 1.7;
    }
#linkstable p {
    margin:0;
    padding:0;
    }
#extrashapes {
    text-align: center;
    }
.kbdWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    }
summary { cursor: pointer; }



h2, h3, h4, h5, h6 { position: relative; }
.selflink { display: none; }
h2:hover > a.selflink::before, h3:hover > a.selflink::before, h4:hover > a.selflink::before, h5:hover > a.selflink::before, h6:hover > a.selflink::before {
    content: "ยง";
    display: block;
    }
h2 > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    color: inherit;
    font-size: 83%;
    text-align: center;
    background-color: transparent;
    }
h2:hover > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    border: none;
    color: inherit;
    font-size: 83%;
    height: 2em;
    left: -1.6em;
    opacity: .5;
    position: absolute;
    text-align: start;
    text-decoration: none;
    top: 0;
    transition: opacity .2s;
    width: 2em;
    display: block;
    }

.supportdocs  { margin-top: 1em; }
.supportdocs ul { margin: 0; padding: 0; }
.supportdocs li { margin-left: 12%; text-align: start; }
.supportdocs p { margin-bottom: 0; margin-right: 15%; margin-left: 7.5%; }




/* PRINT STYLES */

@media print {

body {
	font-size: 8pt;
	}
.noprint {
	display: none;
	}
#top, #fontsetting {
    display: none;
    }
}
/* END PRINT STYLES */



.info::before {
    content: url(../../shared/images/info.png);
    position: absolute;
	margin-left: -4%;
	margin-top: .25em;
	}
.eg-highlight { color: chocolate; }




#refs .fnDef {
    font-size: 80%;
    color: chocolate;
    vertical-align: unset;
    margin-inline-start: -2em;
	position: absolute;
	font-style: normal;
	text-align: end;
	left: -1em;
	font-weight: bold;
	}
#refs p {
	margin-inline-start: 12%;
	position: relative;
	line-height: 1.5;
	}




